* {
    padding: 0;
    margin: 0;
}

:root {
    --bg-color: #fed7aa;
    --dark-accent: #9a3412;
    --light-accent: #b45309;
    --shadow-color: #e2a360;

    --gaps: 6vmin;

    font-family: Arial, Helvetica, sans-serif;
}

html {
    position: relative;
    /* this is so that obscure will position itself relative to the HTML element which is basically the whole page */
    /* otherwise it would position relative to initial containing block, whose dimensions are the viewport (see https://www.w3.org/TR/CSS2/visudet.html#containing-block-details), so if we scroll obscure won't be there */
}

body {
    background-color: var(--bg-color);
}

header {
    background-color: var(--dark-accent);
    color: white;
    padding: 15px;
    font-size: 1.5rem;
    text-align: center;

    box-shadow: 0 3px 5px var(--shadow-color);
}



.books {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: max(150px, 30vh);

    gap: var(--gaps);
    margin: var(--gaps);
}
.card {
    border-radius: 5px;
}
.book {
    position: relative; 

    background-color: var(--light-accent);
    color: white;
    padding: 15px;

    --removeBtn-dim: 25px;

}
.book:hover {
    box-shadow: 0 3px 5px var(--shadow-color);
}
.book h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-right: var(--removeBtn-dim); /* prevents title from overlapping with remove button */
}
.book p {
    color: #ffecdc;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    padding-left: 1em;
}
.book .read-or-not {
    border-radius: 1000000px;
    background-color: var(--dark-accent);
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.book button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-style: none;
    border-radius: 50%;
    
    background-color: transparent;
    position: absolute;
    top: 5px;
    right: 5px;

    height: var(--removeBtn-dim);
    width: var(--removeBtn-dim);
}
.book button:hover {
    background-color: var(--dark-accent);
}
.book button img {
    object-fit: cover;
    width: calc(var(--removeBtn-dim) * 0.9);
    height: calc(var(--removeBtn-dim) * 0.9);
}

.add-book-btn {
    border-style: none;
    
    font-size: 1.5rem;

    background-color: var(--shadow-color);
    color: var(--bg-color);
    transition: background-color 0.3s ease-out;
}
.add-book-btn:hover {
    background-color: var(--light-accent);
}





.obscure {
    display: none;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    background-color: rgba(0, 0, 0, 0.548);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(1px);

    z-index: 1;
}

.add-book-modal {
    z-index: 2;
    background-color: var(--light-accent);

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed; /* fixed makes sure it appears in middle no matter where u scroll */
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.1s ease-out;

    border-radius: 10px;
    padding: 25px 35px;

    color: white;
}
.add-book-modal h2 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}
.add-book-modal form {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.2rem;
}
.add-book-modal form input {
    margin-bottom: 10px;

    color: inherit;
    font-size: inherit;
    background: var(--dark-accent);

    border-style: none;
    border-radius: 10000px;
    padding: 0.5em 1.2em;
}
.add-book-modal input::placeholder {
    color: var(--shadow-color);
}
.add-book-modal form input[type="text"]:focus,
.add-book-modal form input[type="number"]:focus {
    outline-style: none;
    box-shadow: 0 3px 0 var(--shadow-color);
}
.add-book-modal form .checkbox {
    margin: 15px 0;
}
.add-book-modal form button {
    color: inherit;
    background: var(--dark-accent);

    font-size: inherit;
    font-weight: bold;
    text-transform: uppercase;

    border-style: none;
    border-radius: 100000px;

    padding: 1em 2em;
}
.add-book-modal form button:hover {
    box-shadow: 0 3px 0 var(--shadow-color);
}

.obscure.showing {
    display: block;
}
.add-book-modal.showing {
    transform: translate(-50%, -50%) scale(1);
}
